# dependencies
/node_modules
/frontend/node_modules
/backend/node_modules
/build
/dist

# cypress
/cypress/downloads
/cypress/screenshots
/cypress/videos
cypress.env.example.json
cypress.env.json

# misc
.DS_Store
