[submodule "EngageSphere-Test-Design-Masterclass-turma-2/tests"]
	path = EngageSphere-Test-Design-Masterclass-turma-2/tests
	url = https://github.com/patriciaqa/EngageSphere-Test-Design-Masterclass-turma-2.git
